<div class="container-fluid">
  <h1>Bootcamp Erollment Form</h1>
  <form #userForm="ngForm">
    <div clas="form-group">
      <label>Event Name</label>
      <input type="text" required [class.is-invalid]="name.invalid && name.touched" 
        #name="ngModel" class="form-control" name="name" [(ngModel)]="userModel.name">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>
    <div clas="form-group">
      <label>Email</label>
      <input type="text" required [class.is-invalid]="email.invalid && email.touched" 
      #name="ngModel" class="form-control" name="email" [(ngModel)]="userModel.email">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
    </div>
    <div clas="form-group">
      <label>Event Id</label>
      <input type="text" required [class.is-invalid]="id.invalid && id.touched" 
      #name="ngModel" class="form-control" name="id" [(ngModel)]="userModel.id">
      <small class="text-danger" [class.d-none]="id.valid || id.untouched">Id is required</small>
    </div>
    <div clas="form-group">
      <label>Date</label>
      <input type="date" required [class.is-invalid]="date.invalid && date.touched" 
      #name="ngModel" class="form-control" name="date" [(ngModel)]="userModel.date">
      <small class="text-danger" [class.d-none]="date.valid || date.untouched">Date is required</small>

    </div>
    <div class="form-group">
      <label>Priority</label>
      <select class="custom-select" name="priority" required
        [class.is-invalid]="priority.invalid && priority.touched">
        <option value="" selected>Priority of the event-</option>
        <option [(ngModel)]="userModel.priority" *ngFor="let priority of prioriries">{{priority}}</option>
      </select>
      <small class="text-danger" [class.d-none]="priority.valid || priority.untouched">Priority is required</small>

    </div>
    <div class="form-group" >
        <label>Priority</label>
        <input type="text" required [class.is-invalid]="address.invalid && address.touched" 
        #name="ngModel" class="form-control" name="address" [(ngModel)]="userModel.address">
        <small class="text-danger" [class.d-none]="address.valid || address.untouched">Date is required</small>
    </div>
    <button class="btn btn-primary" type="submit">Submit Form </button>
  </form>
</div>